<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="float: left;width: 300px; border: solid 1px #dddddd; display: inline-block">
    <div style="border: solid 1px #dddddd;margin: 10px">
        消息：
        {% module ApplyMsgUIModule(apply_data) %}
    </div>
    <div style="border: solid 1px #dddddd;margin: 10px">
        好友列表：
        {% module UserUIModule(friends, my_data) %}
        搜索好友：<input id='search-input' type="text" placeholder="请输入用户名">
        <button onclick="searchFan()">搜索</button>
        <div class="search-container">{{ add_error }}

        </div>
    </div>
    <div style="border: solid 1px #dddddd;margin: 10px">
        群列表：
        {% module UserGoupUIModule(group_data, my_data) %}
    </div>
</div>
<div style="width: 500px; height: 500px; border: solid 1px #dddddd; display: inline-block; position: relative">
    <div class="session-box"
         style="position: absolute;width: 500px;height: 300px;border: solid 1px #dddddd;overflow-x:auto;overflow-y:auto;"
         id="container">
        会话框
        <div id="to_user_div">
        </div>
    </div>

    <div class="input-box" style="top: 300px;position: absolute;width: 500px;height: 200px;border: solid 1px #dddddd;">
        回复框
        <input type="text" id="msg">
        <button onclick="sendMsg()">发送</button>
    </div>
</div>
</body>
<script src="/static/jquery-1.12.4.js"></script>
<script>
    // 用户组成员信息
    var group_member = {% raw group_member %};

    // 用户组
    var to_user_or_group;

    // 禁言 flag
    var blockFlag = true;

    // webSocket dict
    var wsSocket = {
        socket: null,
        uid: null,
        uname: null,
        start: function (nid, name, myNid, myName, chatType) {
            var url;
            // 判断一对一 or 群聊
            if (chatType == 0) {
                url = "ws://127.0.0.1:8080/chat_one2one?nid=" + nid + "&name=" + name + '&mynid=' + myNid + '&myname=' + myName;
            } else {
                url = "ws://127.0.0.1:8080/chat_group?gid=" + nid + "&gname=" + name + '&mynid=' + myNid + '&myname=' + myName;
            }
            wsSocket.socket = new WebSocket(url);
            wsSocket.socket.onmessage = function (event) {
                if (wsSocket.uid && wsSocket.uname) {
                    // 从第二条消息开始是聊天内容
                    wsSocket.showMsg(event.data);
                } else {
                    // 接收的第一条消息
                    var recv = event.data.split(',');
                    wsSocket.uid = recv[0];
                    wsSocket.uname = recv[1];
                }
            }
        },
        // 显示消息
        showMsg: function (result) {
            $('#container').append(result)
        }
    };

    // 发送信息
    function sendMsg() {
        var content = {
            uid: wsSocket.uid,
            uname: wsSocket.uname,
            message: $('#msg').val(),
            to_user_or_group: to_user_or_group
        };
        var msg_tpl = document.getElementById('msg');
        msg_tpl.value = '';
        wsSocket.socket.send(JSON.stringify(content))
    }

    // 关闭连接
    function closeConn() {
        if (wsSocket.socket) {
            // var closeMsg = document.createElement('div');
            // $(closeMsg).text('关闭连接');
            $('#container').empty().html('会话框');
            var to_user_div = document.createElement('div');
            $(to_user_div).attr('id', 'to_user_div');
            $('#container').append(to_user_div);
            // $('#container').append(closeMsg);
            wsSocket.uid = null;
            wsSocket.uname = null;
            wsSocket.socket.close();
            console.log('成功关闭')
        }
    }

    // 连接群聊 webSokcet
    function connectGServer(ths) {
        if (blockFlag) {
            var gid = $(ths).parent().attr('gid');
            var gname = $(ths).parent().attr('gname');
            var myNid = $(ths).parent().parent().attr('my_id');
            var myName = $(ths).parent().parent().attr('my_name');
            to_user_or_group = gid;
            closeConn();
            $('#to_user_div').html('To: ' + gname);
            var chatType = 1;
            wsSocket.start(gid, gname, myNid, myName, chatType);
        } else {
            alert('你被禁言了');
        }


    }

    // 连接一对一聊天 webSokcet
    function connectServer(ths) {
        var nid = $(ths).parent().attr('nid');
        var name = $(ths).parent().attr('name');
        var myNid = $(ths).parent().parent().attr('my_id');
        var myName = $(ths).parent().parent().attr('my_name');
        to_user_or_group = nid;
        closeConn();
        $('#to_user_div').html('To: ' + name);
        var chatType = 0;
        wsSocket.start(nid, name, myNid, myName, chatType);
    }

    // 搜索好友
    function searchFan() {
        var username = $('#search-input').val();
        $('.search-container').empty();
        $.ajax({
            url: '/search_friend',
            type: 'POST',
            data: {'username': username},
            success: function (result) {
                if (result) {
                    var data = JSON.parse(result);
                    var div_tpl = document.createElement('div');
                    $.each(data, function (k, v) {
                        var tmp_span = document.createElement('span');
                        $(tmp_span).html(v + '   ');
                        $(div_tpl).append(tmp_span);
                    });
                    var tpl_a = document.createElement('a');
                    $(tpl_a).html('添加好友');
                    $(tpl_a).attr('href', '/add_friend?id=' + data[0]);
                    $(div_tpl).append(tpl_a);
                    $('.search-container').append(div_tpl);
                }
                else {

                }
            }
        })
    }

    // 显示组成员
    function showMem(ths) {
        $('.groupMem').remove();
        var outer_tpl = document.createElement('div');
        $(outer_tpl).attr('class', 'groupMem');
        var current_button_id = $(ths).parent().attr('id');
        var groud_id = $(ths).parent().attr('gid');
        var current_user_id = $(ths).parent().parent().attr('my_id');


        $.each(group_member, function (k, v) {
            console.log(k, v);
            // k: 组id v: 组信息
            console.log('管理员id: ', v['admin'], '当前用户id: ', $(ths).parent().parent().attr('my_id'));

            var groupFlag = true;

            // 1、获取点击按钮的上一级标签的 id 的倒数第一位（需要显示的组 id ）
            // 2、根据 v['admin'] 显示管理员操作标签
            if (k == groud_id) {
                var inner_tpl = document.createElement('div');
                $.each(v['mems'], function (memKey, memValue) {

                    // 判断是否被禁言
                    if (memValue['user_id'] == $(ths).parent().parent().attr('my_id') && memValue['block'] == 1) {
                        blockFlag = false;
                    }

                    // 生成管理员操作标签
                    if (v['admin'] == $(ths).parent().parent().attr('my_id')) {
                        console.log('进入生成管理员标签 组：', k);
                        var mem_tpl = document.createElement('div');
                        var txt = 'id: ' + memValue['user_id'] + ' | ' + 'username: ' + memValue['username'] + '  ';

                        if (groupFlag) {
                            // 添加入群按钮组
                            var addMemBtn = document.createElement('button');
                            $(addMemBtn).text('添加入群');
                            $(addMemBtn).attr('style', 'margin-left: 10px');
                            $(addMemBtn).attr('onclick', 'groupAddMem()');
                            var addMemBox = document.createElement('input');
                            $(addMemBox).attr('id', 'groupAddBox');
                            $(outer_tpl).append(addMemBox);
                            $(outer_tpl).append(addMemBtn);
                            groupFlag = false
                        }


                        $(mem_tpl).html(txt);


                        var button_block = document.createElement('a');
                        var button_del = document.createElement('a');
                        if (current_user_id != memValue['user_id']) {


                            if (memValue['block'] == 0) {
                                $(button_block).text('禁言');
                            } else {
                                $(button_block).text('移除禁言');
                            }

                            $(button_block).attr('href', '/group_block?id=' + memValue['user_id'] + '&block=' + memValue['block'] + '&group_id=' + k);
                            $(button_block).attr('style', 'margin-left: 10px');
                            $(button_del).attr('href', '/group_del_mem?id=' + memValue['user_id'] + '&group_id=' + k);
                            $(button_del).text('踢出群');
                            $(button_del).attr('style', 'margin-left: 10px');

                        }

                        $(mem_tpl).append(button_block);
                        $(mem_tpl).append(button_del);
                        $(inner_tpl).append(mem_tpl);

                    } else {
                        var mem_tpl = document.createElement('div');
                        var txt = 'id: ' + memValue['user_id'] + ' | ' + 'username: ' + memValue['username'];
                        $(mem_tpl).html(txt);
                        $(inner_tpl).append(mem_tpl);

                    }
                });
                $(outer_tpl).append(inner_tpl);
                $('#' + current_button_id).append(outer_tpl);
            }

        });

    }

    // 添加组成员
    function groupAddMem() {
        var groupAddUserName = $('#groupAddBox').val();
        var groupID = $('#groupAddBox').parent().parent().attr('gid');
        console.log('add user in group: ', groupAddUserName, groupID);
        $.ajax({
            url: '/group_add_mem',
            type: 'POST',
            data: {'gid': groupID, 'username': groupAddUserName},
            success: function (result) {
                var result_data = JSON.parse(result);
                if (result_data['status']) {
                    alert(result_data['msg']);
                    window.location = "http://127.0.0.1:8080/index";
                } else {
                    alert(result_data['msg']);
                    window.location = "http://127.0.0.1:8080/index";
                }
            }
        })
    }

</script>
</html>