<script>
        var pid = '';
        function GetTaskResult(task_id, task_timeout) {
            $.getJSON("{% url 'multi_task_result' %}",
                {'task_id':task_id, 'csrfmiddlewaretoken':"{{ csrf_token }}"},
                function(callback){
                var result_ele = '';
                var all_task_finfished = true;
                var finished_task_count = 0;
                $.each(callback, function (index,i) {
                    var p_ele = "<p>" + i.host_user_bind__host_name__hostname + "</p>" + "<p>"+ i.host_user_bind__host_name__ip_addr
+ "</p>" + "<p>task id:" + i.id + "</p>";
                    var div_ele = "<pre>" + i.result + "</pre>";
                    result_ele = p_ele + div_ele;

                    if(i.status == 3){
                        //状态码是3表示还有任务未完成
                        all_task_finfished = false;
                    }else {
                        finished_task_count +=1;


                    }

                });//end each
                    //如果计时器未达到超时时间300s就继续执行interval
                    if(task_timeout_counter < task_timeout){
                        task_timeout_counter += 2;
                    }else
                    {
                        all_task_finfished = true;
                        $("#TimeOutAlert").removeClass('hide')

                    }

                    if(all_task_finfished){
                        //关闭定时器
                        clearInterval(result_timer);
                        console.log('clear interval...')
                    }
                    $('#task_result').html(result_ele);

                    /* 进度条百分比显示
                    *  1、完成任务数量 / 任务总数量callback.length * 100
                    *  2、找到进度条标签，修改文本和样式
                    * */
                    var total_finished_percent = parseInt(finished_task_count / callback.length * 100);
                    $("#task_progress").text(total_finished_percent + "%");
                    $("#task_progress").css("width", total_finished_percent + "%");



            })//end getJson;
        }




        function DisplayHost(self){
            // 判断是否有标签，并对应情况增加或删除
            $(self).next().next().toggleClass("hide");
        }
        function SelectAll(self) {
            $(self).parent().find('ul :checkbox').prop('checked', $(self).prop('checked'));
            var CheckCount = $('#ListGroup ul').find(":checked").length;
            ShowCheckedHostCount()
        }

        function ShowCheckedHostCount() {
            var CheckCount = $('#ListGroup ul').find(":checked").length;
            $("#CheckCountSpan").text(CheckCount);
            return CheckCount
        }

        function Posttask(task_type) {
            //获取ip地址
            var host_ids_ele = $('#ListGroup ul').find(":checked");
            //trim去掉空格
            var content = $.trim($("#cmd_text").val());
            var selected_host_ids = [];
            $.each(host_ids_ele, function (index,i) {
               selected_host_ids.push($(i).val())
            });
            //结果获取ip地址

            //判断输入是否合法
            if (selected_host_ids.length == 0) {
                alert("请选择主机");
                return false;
            }
            if(task_type == 'cmd'){
            if (content.length == 0) {
                alert("请输入命令");
                return false;
            }else {
                //file_transfer
                var remote_path = $('#remote_path').val()
                if ($.trim(remote_path).length == 0){
                    alert('请输入路径');
                    return false
                }
            }
            }

            var task_data = {
                'task_type': task_type,
                'selectd_hosts_ids':selected_host_ids,
{#                'cmd':content#}
        };
            //根据命令类型，配置字典k,v
            if(task_type == 'cmd'){
                task_data['cmd'] == content;
            }else{
                var file_transfer_type = $("select[name='toggleupload']").val();
                task_data['file_transfer_type'] = file_transfer_type;
                task_data['random_str'] = "{{ random_str }}";
                task_data['remote_path'] = $("#remote_path").val()
            }
            console.log("+++task_data++", task_data);
            $.post("{% url 'multi_task' %}", {"task_data":JSON.stringify(task_data),'csrfmiddlewaretoken':"{{ csrf_token }}"}, function(callback){
                console.log(callback);//获取task_id
                var callback = JSON.parse(callback);
                console.log("timeout",callback);
                // 传入任务id和超时时间
                GetTaskResult(callback.task_id, callback.timeout);
                pid = callback.pid;
                task_timeout_counter = 0;
                result_timer = setInterval(function () {
                    GetTaskResult(callback.task_id, callback.timeout)
                }, 2000);

                //显示下载按钮
                $("#down_btn").removeClass('hide').attr('href', "{% url 'task_file_download' %}?task_id=" + callback.task_id)

            });//end ajax post



        }

        function CancelCmd() {
            $.post(
                "{% url 'cancel_cmd' %}", {'pid':pid,'csrfmiddlewaretoken':"{{ csrf_token }}"}, function(callback){
                 console.log("ok")
                })// end ajax post

        }

    </script>