{% extends 'layout.html' %}
{% load popup %}


{% block body %}
    <div class="ibox-content" style="margin-top: 10px">
        {% add_list form %}
    </div>
{% endblock %}


{% block script %}
    <script>
        function PopUp(url) {
            window.open(url, url, 'status=1, hegiht:500, width:600, toolbar=0, reiszeable=0');
        }
        function pCallBack(data_dict) {
            var tag = document.createElement('option');
            tag.innerHTML = data_dict.text;
            tag.setAttribute('value', data_dict.pk);
            tag.setAttribute('selected', 'selected');
            document.getElementById(data_dict.popup_id).appendChild(tag)
        }
    </script>
{% endblock %}