    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default" id="checkAll">全选</button>
        <button type="button" class="btn btn-default" id="checkReverse">反选</button>
        <button type="button" class="btn btn-default" id="checkCancel">取消</button>
        <button type="button" class="btn btn-default" id="InOutEditMode">进入编辑模式</button>
        <a type="button" class="btn btn-default" id="add">添加</a>
        <button type="button" class="btn btn-default" id="mulDelete">删除</button>
        <button type="button" class="btn btn-default" id="checkSave">保存</button>
        <button type="button" class="btn btn-default" id="refresh">刷新</button>
    </div>
    <table class="table table-bordered table-striped">
        <thead id="tbHeader">

        </thead>
        <tbody id="tbBody">
        </tbody>
    </table>

