
    <div id="AddFieldInner" class="col-md-offset-1  col-md-6"
         style="width: 400px;height: 700px;z-index: 1000;
         position: fixed;background-color: #e2e2e2;
         ;text-align:center;display: none">

    <button class="btn btn-default" type="submit" id="AddFieldSubmit" style="margin-bottom: -1200px">提交</button>

    <button class="btn btn-danger" type="submit" id="AddFieldCancel" style="margin-bottom: -1200px;margin-left: 50px">取消</button>
        <div id="errorMsg"></div>
    </div>