<div style="width: 700px;margin: 0 auto">
    {% include 'display_templates/search_area.html' %}
    <div class="btn-group" role="group" aria-label="...">
        <button id='checkAll' type="button" class="btn btn-default">全选</button>
        <button id='checkReverse' type="button" class="btn btn-default">反选</button>
        <button id='checkCancel' type="button" class="btn btn-danger">取消</button>
        <button id='checkInOut' type="button" class="btn btn-default">进入编辑模式</button>
        <button id='checkFlash' type="button" class="btn btn-default">刷新</button>
        <button id='checkDel' type="button" class="btn btn-default">删除</button>
        <button id='checkSave' type="button" class="btn btn-default">保存</button>
    </div>
    <table class="table table-bordered">
        <thead id="tbHead">

        </thead>
        <tbody id="tbBody">

        </tbody>
    </table>
</div>