<div>
        <div class="searchList clearfix" style="position: relative">

            <div class="search-btn col-md-offset-10 col-md-2" style="position: absolute;bottom: 1px;right: -30px;">
                    <input type="button" value="搜索" class="btn btn-primary" id="doSearch">
            </div>

            <div class="searchItem col-md-offset-2 col-md-8" style="position: relative;height: 35px">
                <div style="position: absolute;width: 38px;left: 0;">
                    <a type="button" class="btn btn-primary add-search-condition">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
                <div class="input-group searchArea" style="position: absolute;left: 40px;right: 100px">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"><span id='defaultSearch'></span> <span
                                class="caret"></span></button>
                        <ul class="dropdown-menu">

                        </ul>
                    </div><!-- /btn-group -->
{#                    <input type="text" class="form-control" aria-label="...">#}
                </div><!-- /input-group -->
            </div>


        </div>

    </div>