{% extends 'layout.html' %}

{% block layout %}

    <!-- 组合搜索 -->



    <!-- 搜索框 -->

    <div class="row" style="margin-top: 30px;margin-bottom: 30px">
        <div class="col-md-offset-2 col-lg-4">
            <div class="input-group">
{#                <div class="input-group-btn">#}
{#                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"#}
{#                            aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>#}
{#                    <ul class="dropdown-menu dropdown-menu-right">#}
{#                        <li><a href="#">Action</a></li>#}
{#                        <li><a href="#">Another action</a></li>#}
{#                        <li><a href="#">Something else here</a></li>#}
{#                        <li role="separator" class="divider"></li>#}
{#                        <li><a href="#">Separated link</a></li>#}
{#                        {% for row in choice_list %}#}
{#                            <li>{{ row.name }}</li>#}
{#                        {% endfor %}#}
{#                    </ul>#}
{#                </div><!-- /btn-group -->#}

                 <div class="input-group-btn search-list">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span
                                class="searchDefault">请选择</span>
                            <span
                                class="caret"></span></button>
                        <ul class="dropdown-menu">
                        {% for row in choice_list %}
                            <li condition_type="input" name="{{ row.key }}"><a>{{ row.name }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>

                <input type="text" id="choice_inp" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                        <span class="btn btn-default" type="button">
                            <a id='search_btn' href="/backend/manage_commodity/choice-{{ kwargs.type_id }}-{{ kwargs.p_level_id }}">
                                Search
                            </a>
                        </span>
                    </span>
            </div><!-- /input-group -->
        </div>
    </div><!-- /.row -->


    <!-- 类型 -->
    <div class="condition row clearfix" style="margin-left: 80px;padding: 8px 0;">
        <div class="col-xs-2" style="text-align: right">
            {% if kwargs.type_id == 0 %}
                <a class="btn btn-success" href="/backend/manage_commodity/choice-0-{{ kwargs.p_level_id }}">全部</a>
            {% else %}
                <a href="/backend/manage_commodity/choice-0-{{ kwargs.p_level_id }}">全部</a>
            {% endif %}
        </div>
        <div class="col-xs-10">
            {% for row in type_list %}
                {% if row.id == kwargs.type_id %}
                    <a class="btn btn-success"
                       href="/backend/manage_commodity/choice-{{ row.id }}-{{ kwargs.p_level_id }}"
                       style="margin-left: 30px">{{ row.name }}</a>
                {% else %}
                    <a href="/backend/manage_commodity/choice-{{ row.id }}-{{ kwargs.p_level_id }}"
                       style="margin-left: 30px">{{ row.name }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <!-- 价格区间 -->
    <div class="condition row" style="margin-left: 80px;padding: 8px 0;">
        <div class="col-xs-2" style="text-align: right">
            {% if kwargs.p_level_id == 0 %}
                <a class="btn btn-success" href="/backend/manage_commodity/choice-{{ kwargs.type_id }}-0">全部</a>
            {% else %}
                <a href="/backend/manage_commodity/choice-{{ kwargs.type_id }}-0">全部</a>
            {% endif %}
        </div>
        <div class="col-xs-10">
            {% for row in price_list %}
                {% if row.id == kwargs.p_level_id %}
                    <a class="btn btn-success" style="margin-left: 30px"
                       href="/backend/manage_commodity/choice-{{ kwargs.type_id }}-{{ row.id }}">{{ row.title }}</a>
                {% else %}
                    <a style="margin-left: 30px"
                       href="/backend/manage_commodity/choice-{{ kwargs.type_id }}-{{ row.id }}">{{ row.title }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <!-- 商品列表 -->
    <div class="col-md-offset-2" style="margin-top: 30px">
        <table class="table table-bordered" style="width: 600px">
            <thead>
            <tr>
                <th>id</th>
                <th>名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for row in commodity_list %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.name }}</td>
                    <td>
                        <a href="/backend/edit/{{ row.id }}" class="glyphicon glyphicon-pencil">编辑</a>|
                        <a href="/backend/delete/{{ row.id }}" class="glyphicon glyphicon-minus">删除</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- 分页 -->
    <nav aria-label="Page navigation" class="col-md-offset-2" style="margin-top: 30px">
        <ul class="pagination">
            {{ page_info.pager|safe }}
        </ul>
    </nav>

{% endblock %}

{% block js %}
<script src="/static/jquery-3.2.1.js"></script>
<script src="/static/plugins/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script>

    $('.search-list').on('click', 'li', function () {
                //文本信息
                var wenben = $(this).text();
                var name = $(this).attr('name');
                var conditinType = $(this).attr('condition_type');

                //选择后把显示文本替换
                // $(".searchDefault").text(wenben);
                //li父节点ul的上一个节点寻找.searchDefault改变文本
                $(this).parent().prev().find('.searchDefault').text(wenben);
                $(this).parent().prev().find('.searchDefault').attr('name', name);
{#                var inp = document.createElement('input');#}
{#                $(inp).attr('class', 'form-control');#}
{#                $(inp).attr('name', name);#}
{#                $(inp).attr('type', 'text');#}
{#                $(inp).attr('id', 'choice_inp');#}
{#                $(this).parent().parent().next().remove();#}
{#                $(this).parent().parent().after(inp);#}
{#                var sb = $('#search_btn').attr('href');#}
{#                sb = sb + '?'+ name + '=' + $("#choice_inp").val();#}
{#                console.log(sb);#}
            });

    $('#choice_inp').on('blur', function () {
            var name = $('.searchDefault').attr('name');
            console.log(name);
            var v = $('#choice_inp').val();
            var sb = $('#search_btn');
            var h = sb.attr('href') + '?'+ name + '=' + v;
            sb.attr('href', h);
    });
    $("#choice_inp").on('focus', function () {
        $('#search_btn').attr('href', "/backend/manage_commodity/choice-0-0")
    })

    </script>
{% endblock %}