{% extends 'base.html' %}

{% block breadcrumb %}


    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>AuditSystem</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="test/index.html">Home</a>
                </li>
                <li>
                    <a href="test/index.html">命令分发</a>
                </li>
                <li class="active">
                    <strong></strong>
                </li>
            </ol>
        </div>
    </div>

{% endblock %}

{% block body %}
    {% include './components/hosts_groups.html' %}
    <div class="col-lg-9">
        <div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>命令</h5>
                </div>
                <div class="ibox-content">
                    <textarea name="" id="cmd_text" cols="30" rows="8" class="form-control"></textarea>
                    <button onclick="Posttask('cmd')" class="btn btn-default right">执行</button>
                    <button class="btn btn-danger left" onclick="CancelCmd()">终止</button>
                </div>
            </div>
            {% include './components/task_result.html' %}

        </div>
    </div>
{% endblock body %}

{% block script %}
    {% include './components/task_js.html' %}
{% endblock %}