{% extends 'base.html' %}


{% block css %}
    <link href="/static/css/plugins/dropzone/basic.css" rel="stylesheet">
    <link href="/static/css/plugins/dropzone/dropzone.css" rel="stylesheet">
    <link href="/static/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/plugins/codemirror/codemirror.css" rel="stylesheet">
{% endblock %}

{% block breadcrumb %}


    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>AuditSystem</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="test/index.html">Home</a>
                </li>
                <li>
                    <a href="test/index.html">文件分发</a>
                </li>
                <li class="active">
                    <strong></strong>
                </li>
            </ol>
        </div>
    </div>

{% endblock %}

{% block body %}
    {% include './components/hosts_groups.html' %}
    <div class="col-lg-9">
        <div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>命令</h5>
                </div>
                <div class="ibox-content">
                    <select name="toggleupload" id="toggleupload" class="form-control" onchange="ToggleEle(this)">
                        <option value="send">上传</option>
                        <option value="get">下载</option>

                    </select>

                    <form action="{% url 'task_file_upload' %}?random_str={{ random_str }}" class="dropzone" id="dropzoneForm">
                        <div class="fallback">
                            <input name="file" type="file" multiple/>
                        </div>
                    </form>
                    <input type="text" placeholder="远程路径" class="form-control" id="remote_path">
                    <button onclick="Posttask('file_transfer')" class="btn btn-default right">执行</button>
                    <button class="btn btn-danger left" onclick="CancelCmd()">终止</button>
                    <a href="" id="down_btn" class="btn btn-info hide">下载到本地</a>
                </div>
            </div>
            {% include './components/task_result.html' %}

        </div>
    </div>
{% endblock body %}

{% block script %}
    {% include './components/task_js.html' %}

    <script>
        function ToggleEle(self) {
            if ($(self).val() == 'get') {
                $(self).next().addClass("hide");
            } else {
                $(self).next().removeClass("hide");
            }
        }
    </script>
    <script src="/static/js/plugins/dropzone/dropzone.js"></script>

    <script>
        Dropzone.options.dropzoneForm = {
            paramName: "file", // The name that will be used to transfer the file
            maxFilesize: 2, // MB
            dictDefaultMessage: "<strong>Drop files here or click to upload. </strong></br> (This is just a demo dropzone. Selected files are not actually uploaded.)"
        };

    </script>

{% endblock %}