{% extends 'base.html' %}

{% block breadcrumb %}


    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>AuditSystem</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="test/index.html">Home</a>
                </li>
                <li>
                    <a href="test/index.html">任务分发</a>
                </li>
                <li class="active">
                    <strong></strong>
                </li>
            </ol>
        </div>
    </div>

{% endblock %}

{% block body %}
        <div class="col-lg-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>主机组</h5>
                <span class="badge badge-success" id="CheckCountSpan"></span>
            </div>

            <div class="ibox-content">
                <ul class="list-group" id="ListGroup" >
                    <!-- 获取主机组名和其数量-->
                    {% for group in request.user.account.host_groups.all %}

                            <li class="list-group-item" >
                                <input type="checkbox" onclick="SelectAll(this)">
                                <a onclick="DisplayHost(this)">{{ group.name }}</a>
                                <span class="badge badge-success">{{ group.host_user_binds.count }}</span>
                                <ul class="hide">
                                    {% for bind_host in group.host_user_binds.all %}
                                        <li><input type="checkbox" value="{{ bind_host.id }}" onclick="ShowCheckedHostCount()">
                                            {{ bind_host.host_name.ip_addr }}
                                        </li>
                                        {% endfor %}
                                </ul>
                            </li>

                    {% endfor %}
                    <!-- /获取主机组名和其数量-->

                            <li class="list-group-item" onclick="DisplayHost(this)">
                                <input type="checkbox" onclick="SelectAll(this)">
                                <a onclick="DisplayHost(this)">未分组</a>
                                <span class="badge badge-success">{{ request.user.account.host_user_binds.count }}</span>
                                <ul class="hide">
                                    {% for bind_host in request.user.account.host_user_binds.all %}
                                        <li><input type="checkbox" value="{{ bind_host.id }}" onclick="ShowCheckedHostCount()">{{ bind_host.host_name.ip_addr }}</li>
                                        {% endfor %}
                                </ul>
                            </li>



                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div>
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>命令</h5>
            </div>
            <div class="ibox-content">
                <textarea name="" id="cmd_text" cols="30" rows="8" class="form-control"></textarea>
                <button onclick="Posttask('cmd')" class="btn btn-default right">执行</button>
                <button class="btn btn-danger left">终止</button>
            </div>
        </div>
                    <div>
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>结果</h5>
            </div>
            <div class="ibox-content">
               11111
            </div>
        </div>
    </div>

    </div>
    </div>
{% endblock body %}

{% block script %}
    <script>
    function DisplayHost(self) {
        // 判断是否有标签，并对应情况增加或删除
        $(self).next().next().toggleClass("hide");
    }
    function SelectAll(self) {
        $(self).parent().find('ul :checkbox').prop('checked', $(self).prop('checked'));
        var CheckCount = $('#ListGroup ul').find(":checked").length;
        ShowCheckedHostCount()
    }

    function ShowCheckedHostCount() {
        var CheckCount = $('#ListGroup ul').find(":checked").length;
        $("#CheckCountSpan").text(CheckCount);
        return CheckCount
    }



    </script>
{% endblock %}