<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="i1"></div>

</body>
<script src="/static/Highcharts-5.0.12/code/highcharts.js"></script>
<script>
    Highcharts.setOptions({
            global: {

                useUTC: false
            }
        });

        var chart = new Highcharts.Chart('i1',{
            title: {
                text: '大标题',
                x: 0
            },
            subtitle: {
                text: '数据来源: WorldClimate.com',
                x: 0
            },
            chart: {
                    events: {
                        load: function (e) {
                            // 图标加载时，执行的函数
                            // 数据动态
                        }
                    }
            },
            //小标题广告
            credits: {
                enable: true,
                position: {
                    align: 'right',
                    verticalAlign: 'bottom'
                },
                text: '啊啊啊啊',
                href: 'http://www.vvvv.com'
            },

            xAxis: {
                // 适用于固定x轴
                type: 'datetime',
                    labels: {
                        formatter: function () {
                            return Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.value);
                        },
                        rotation: 30
                    }
            },
            yAxis: {
                title: {
                    text: '数值'
                }
            },
            //定制后缀
            tooltip: {
                pointFormatter: function (e) {
                    var tpl = '<span style="color:' + this.series.color + '">6666</span> ' + this.series.name + ': <b>' + this.y + '个</b><br/>';
                    return tpl;
                },
                useHTML: true
            },

            //点击数据点 自定制方法
            plotOptions: {
                    //所有数据
                    series: {

                        //点
                        cursor: 'pointer',
                        events: {
                            click: function (event) {
                                // 点击某个指定点时，执行的事件
                                console.log(this.name, event.point.x, event.point.y);
                            }
                        }
                    }
                },
            series: [
                {
                    name: '洛杉矶',
                    data: [
                        [1501689804077.358, 8.0],
                        [1501689814177.358, 6.9],
                        [1501689824277.358, 16.9],
                        [1501689834377.358, 11.9]
                    ]
                },
                {
                    name: '南京',
                    data: [
                        [1501689804077.358, 18.0],
                        [1501689814177.358, 16.9],
                        [1501689824277.358, 6.9],
                        [1501689834377.358, 21.9]
                    ]
                }
            ]
        });

        chart.addSeries({name:'北京',data: [[1501689804077.358, 8.0],[1501689814177.358, 10.9],[1501689824277.358, 26.9],[1501689834377.358, 19.9]]});

        // 参数：数值；是否重绘; isShift; 是否动画
        chart.series[0].addPoint([1501689844377.358, 29.9]);

</script>
</html>