<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.css">
</head>
<body>
<div style="width: 700px; margin: 0 auto">
    <h1>服务器列表</h1>
{% include 'nb-search.html' %}
{% include 'nb-tpl.html' %}
</div>
</body>
<script src="/static/jquery-3.2.1.js"></script>
<script src="/static/nb_list.js"></script>
<script src="/static/plugins/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script>
$.xx('/backend/curd_json.html');
$(function () {
    //DOM需要循环标签绑定
    //jquert不需要
    {#    $('#tbBody').find(':checkbox').click(function () {#}
    {#        alert($(this).val());#}
    {#    })#}

})
</script>
</html>