<div>
        <div class="search-list clearfix" style="position: relative">
{#            绝对定位永远在右下方#}
            <div class="search-btn" style="position: absolute;bottom:1px;right: 70px">
                <div class="col-md-offset-10 col-md-2"><input type="button" class="btn btn-default" value="搜索" id="doSearch"></div>
            </div>
{#            栅格#}
            <div class="search-item col-md-offset-2 col-md-8 clearfix" style="position: relative;height: 35px;">
                <div style="position: absolute;left: 0;width: 38px;">
                    <a type="button" class="btn btn-primary addSearchCondition">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
                <div class="input-group searchArea" style="position: absolute;left: 40px;right: 100px;">
{#                    搜索下拉框#}
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span
                                class="searchDefault">默认值</span>
                            <span
                                class="caret"></span></button>
                        <ul class="dropdown-menu">

                        </ul>
                    </div>
                    <!-- /btn-group -->
                    <!-- <input type="text" class="form-control" aria-label="..."> -->
                </div><!-- /input-group -->
            </div>

        </div>
    </div>