{% extends 'layout.html' %}
{% load result_list %}


{% block css %}
    <style>
        .combine-search a {
            display: inline-block;
            border: 1px solid #dddddd;
            padding: 5px 5px;
            margin: 3px;
        }

        .combine-search .all-area {
            float: left;
        }

        .combine-search .other-area {
            padding-left: 5px;
        }

        .active {
            background-color: #2aabd2;
        }
    </style>
{% endblock %}


{% block body %}
    <div class="ibox-content" style="margin-top: 10px">
        <div class="content">
            <div>
                {% if cl.filter_list %}
                    <h3>组合搜索</h3>
                    <div class="content">

                        {% for row in cl.gen_list_filter %}
                            <div class="combine-search">
                                {% for col in row %}
                                    {{ col }}
                                {% endfor %}
                            </div>
                        {% endfor %}

                    </div>
                {% endif %}
                <h3>数据列表</h3>
                <form action="" method="POST">
                    {% csrf_token %}
                    {% if cl.action_list %}
                        {% show_action cl %}
                    {% endif %}
                    {{ cl.add_btn }}
                    {% show_list cl %}
                </form>

                <ul class="pagination">
                    {{ cl.page.pager }}
                </ul>
            </div>

        </div>
    </div>
{% endblock %}


{% block js %}

{% endblock %}